<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This server provides an FHIR R4 Specification for Mortality Reporting. Most of functions
			will be based on <a href="https://build.fhir.org/ig/HL7/fhir-mdi-ig/">VRDR Profiles</a>.
		</p>
		<p>
			This server is built from a number of modules of the
            <a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
            project and <a href="https://github.com/omoponfhir/">OMOP on FHIR</a>
            project with <a href="https://www.health-samurai.io/fhirbase">Fhirbase</a>, which are both 100% open-source (Apache 2.0 Licensed) Java based
            implementation of the FHIR specification.
		</p>
	</div>
</html>
